<template>
  <div class="buySection">
    <div id="ancoraImg">
      <h2 id="titleBuySec">Compre aqui</h2>
    </div>

    <div id="buyContent">
      <div class="img3" v-if="objShoes != ''">
        <img :src="objShoes.imagem.url" :style="{'height': size, 'width': size}" />
      </div>
    </div>

    <div class="campos2">
      <label class="campo">Nome: {{objShoes.modelo}}</label>
      <br />
      <label class="campo">Descrição: {{objShoes.descricao}}</label>
      <br />
      <label class="campo">
        Em promoção
        <s>$400</s>
        / {{objShoes.preco}}
      </label>
      <br />
      <label class="campo">Quantidade:</label>
      <select v-model="selectedQnt">
        <option
          :value="qnt"
          @click="testGetValue(qnt)"
          v-for="(qnt,index) in objShoes.quantidade"
          :key="index"
        >{{qnt}}</option>
      </select>
      <br />
      <label class="campo">Tamanho:</label>
      <select>
        <option>38</option>
        <option>39</option>
        <option>40</option>
        <option>41</option>
      </select>
      <br />
      <br />
      <button id="idBnt" @click="upadateQntProduct">Comprar</button>
    </div>
  </div>
</template>

<script>
import Todo from "./Todo";
import axios from "axios";
import requests from "../services/requests";
export default {
  props: ["objShoes"],

  data() {
    return {
      size: "300px",
      selectedQnt: "",
      toastCount: 0
    };
  },

  methods: {
    makeToast(text) {
      this.toastCount++;
      this.$bvToast.toast(text, {
        autoHideDelay: 3000
      });
    },

    upadateQntProduct() {
      requests
        .putBuyProduct(
          this.objShoes.id,
          localStorage.tokenAuth,
          this.selectedQnt
        )
        .then(response => {
          console.log("produto comprado");
          //this.$router.push('')
          location.reload();
          this.makeToast("Compra realizada com sucesso!");
        })
        .catch(error => {
          console.log(error.response.data.error);
          this.makeToast(error.response.data.error);
        });
    }
  }
};
</script>

<style lang="css">
#ancoraImg {
  grid-area: titulo;
  grid-column-end: 3;
}
#buyContent {
  grid-area: imagem;
  margin-bottom: 10px;
}
.campos2 {
  grid-area: campos;
}

#titleBuySec {
  font-family: Arial;
  color: white;
}
.buySection {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: 10px;
  background-color: darkslategray;
  height: 400px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "titulo ."
    "imagem campos";
  align-items: center;
  justify-items: center;
}

.TodobuySection {
}
.campo {
  font-family: arial;
  color: white;
}

.img3 {
  background-color: white;
  border-radius: 50%;
  height: 300px;
  width: 300px;

  grid-area: imagem;
}
/*.bar2{
    background-color: rgb(0, 253, 114);
    height: 360px;
    width: 7px;
    margin-left: 415px;
    margin-top: 78px;
}
*/
#idBnt {
  background-color: rgb(83, 171, 133);
  padding: 10px;
  border-radius: 10px;
  width: 120px;
  text-align: center;
  border: none;
  color: white;
}

/*@media (max-width: 700px) {
    .campos2{
    margin-left: 0px;
    margin-top: -0px;
    }

    .buySection{
    background-image: linear-gradient(rgb(73, 83, 224), rgb(59, 95, 255));
    height: 1000px;
    width: 100%;    
    }

    .bar2{
        background-color: rgb(0, 253, 114);
        height: 7px;
        width: 360px;
        margin-left: 7px;
        margin-top: 371px;
    }

    .campos2{
        margin-left: 47px;
        margin-top: 20px;
    }
}*/
</style>