<template>
  <div id="funcoCadCli">
    <div class="cadCliente">
      <div id="barCad">
        <h1 id="titleCadCli">Cadastre-se aqui</h1>
      </div>
      <div class="campos">
        <form>
          <div class="nome">
            <p class="cadText">Nome:</p>
            <input id="inputCadNome" placeholder="nome" type="text" v-model="$v.name.$model" />
            <p class="erro" v-if="$v.name.$error">Este campo deve ser preenchido</p>
            <!---<p class="erro" v-else-if="!$v.name.minLength">Mínimo de 4 dígitos</p>-->
          </div>
          <div class="email">
            <p class="cadText">E-mail:</p>
            <input
              id="inputCadEmail"
              type="email"
              placeholder="email@email.com"
              v-model="$v.email.$model"
            />
            <p class="erro" v-if="$v.email.$error">Este campo deve ser preenchido</p>
          </div>
          <div class="senha">
            <p class="cadText">Senha:</p>
            <input
              id="inputCadPass"
              type="password"
              placeholder="senha"
              v-model="$v.password.$model"
            />
            <p class="erro" v-if="$v.password.$error">Este campo deve ser preenchido</p>
            <!--<p class="erro" v-else-if="!$v.password.minLength">Mínimo de 6 dígitos</p>-->
          </div>
          <div id="centerBtn">
            <button id="btnValidar" type="submit" @click="validateFiels">cadastrar</button>
          </div>
        </form>
      </div>
      <div id="barBottomCad"></div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import email from 'vuelidate/lib/validators/email'
import requests from "../services/requests";
import { required, minLength, between } from "vuelidate/lib/validators";
export default {
  data() {
    return {
      name: "",
      email: "",
      password: "",
      toastCount: 0
    };
  },

  validations: {
    name: {
      required,
      minLength: minLength(4)
    },
    email: {
      required,
      minLength: minLength(4),
      email
    },
    password: {
      required,
      minLength: minLength(6)
    }
  },

  methods: {
    makeToastError(text) {
      this.toastCount++;
      this.$bvToast.toast(text, {
        autoHideDelay: 3000,
        title: "Erro"
      });
    },

    makeToast(variant = null, text) {
      this.toastCount++;
      this.$bvToast.toast(text, {
        autoHideDelay: 3000,
        title: "Sucesso",
        variant: variant
      });
    },

    validateFiels() {
      if (this.name == null || this.email == null || this.password == null) {
        this.makeToastError("Atenção aos campos");
      } else {
        this.submitData(this.name, this.email, this.password);
      }
    },
    submitData(clientName, clientEmail, clientPassword) {
      requests
        .postCadCliente(clientName, clientEmail, clientPassword)
        .then(response => {
          this.makeToast("success", "Produto cadastrado");
          this.$router.push("/");
        })
        .catch(error => {
          console.log(error.response.data.error);
          this.makeToastError(error.response.data.error);
        });
    }
  }
};
</script>

<style lang="css">
.email {
  margin-top: 10px;
}
.senha {
  margin-top: 10px;
}
#barBottomCad {
  width: 100%;
  height: 40px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: center;
  background-color: rgb(51, 115, 88);
}
#funcoCadCli {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  height: 100%;
  position: absolute;
  width: 100%;
  background-image: linear-gradient(rgb(91, 216, 205), rgb(54, 137, 98));
}

#inputCadEmail {
  padding: 10px;
  border-radius: 10px;
  border: cadetblue;
  border-width: thin;
  border-style: solid;
  width: 80%;
  background-color: aliceblue;
}

#inputCadPass {
  padding: 10px;
  border-radius: 10px;
  border: cadetblue;
  border-width: thin;
  border-style: solid;
  width: 80%;
  background-color: aliceblue;
}
#inputCadNome {
  padding: 10px;
  border-radius: 10px;
  border: cadetblue;
  border-width: thin;
  border-style: solid;
  width: 80%;
  background-color: aliceblue;
}
.cadText {
  font-size: 20px;
  font-family: arial;
  color: white;
}
#barCad {
  width: 100%;
  height: 45px;
  background-color: rgb(51, 115, 88);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  text-align: center;
  float: left;
  margin-top: 0px;
}
.cadCliente {
  background-image: linear-gradient(rgb(126, 206, 171), rgb(81, 199, 144));
  width: 470px;
  max-width: 100%;
  border-radius: 12px;
  border-width: 20px;
  border-width: medium;
  position: absolute;
  background-image: linear-gradient(rgb(83, 171, 133), rgb(63, 181, 126));
}
.campos {
  padding-bottom: 10px;
  margin-top: 55px;
}

p {
  font-family: arial;
}
#btnValidar {
  margin-top: 20px;
  border: black;
  padding: 5px 10px 5px 10px;
  border-radius: 38px;
  background-color: darkslategray;
  color: white;
  width: 80%;
  height: 40px;
}
#btnValidar:hover {
  background-color: #4c7575;
}
#titleCadCli {
  font-family: Arial;
  color: white;
  font-size: 23px;
  margin-top: 10px;
}
.erro {
  color: darkslategray;
  font-size: 14px;
  font-family: sans-serif;
}
</style>