<template>
  <div class="fundoProdutos">
    <div class="alinhamentoProdutos">
      <div class="cadProdutos">
        <div class="camposCadProduto">
          <div id="titleCadProduto">Cadastro de Produtos</div>
          <br />
          <form>
            <label>Nome:</label>
            <br />
            <input class="inputCadProduto" type="text" v-model="$v.brand.$model" />
            <p class="erro" v-if="$v.brand.$error">Este campo deve ser preenchido</p>
            <hr />

            <label>Descrição:</label>
            <br />
            <textarea
              class="inputCadProduto"
              v-model="$v.desc.$model"
              placeholder="add some text here"
            ></textarea>
            <p class="erro" v-if="$v.desc.$error">Este campo deve ser preenchido</p>
            <hr />

            <label>Preço:</label>
            <br />
            <input
              class="inputCadProduto"
              type="number"
              step="0.01"
              v-model="$v.price.$model"
              min="100"
              max="1000"
            />
            <p class="erro" v-if="!$v.price.required">Este campo deve ser preenchido</p>
            <hr />
            <label>Quantidade:</label>
            <br />
            <input class="inputCadProduto" type="number" v-model="$v.qnt.$model" min="0" max="50" />
            <p class="erro" v-if="!$v.qnt.required">Este campo deve ser preenchido</p>
            <hr />

            <label>Adicione a imagem:</label>

            <!---<input type="file" ref="file" v-on:change="handleFile">-->
            <div
              style="
                        max-width: 200px;
                        justify-self:center;
                        "
            >
              <b-form-file
                v-model="fileImage"
                placeholder="adicionar foto"
                drop-placeholder="Drop file here..."
                v-on:change="teste()"
              ></b-form-file>
            </div>
            <hr />

            <div style="text-align: center;">
              <button id="btnSalvarCad" type="submit" @click="submitData()">Salvar</button>
            </div>
          </form>
        </div>
      </div>
      <UpdateProduto></UpdateProduto>
      <DeletarProduto></DeletarProduto>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import requests from "../services/requests";
import DeletarProduto from "./DeletarProduto";
import UpdateProduto from "./UpdateProduto";
import { required, minLength, between } from "vuelidate/lib/validators";
export default {
  components: { DeletarProduto, UpdateProduto },
  data() {
    return {
      brand: "",
      desc: "",
      price: 0,
      qnt: 0,
      imagePath: "",
      fileImage: null,
      id: "",
      notifications: []
    };
  },

  mounted() {
    if (localStorage.email == "" || localStorage.email == null) {
      this.$router.push("/");
    }

    this.id = localStorage.id;

    //this.getNotifications()
    requests
      .getNotifications(localStorage.tokenAuth)
      .then(response => {
        this.notifications = response.data;
        console.log("array notifications", this.notifications);
        this.showNotifications(this.notifications);
        this.deleteNotification(this.notifications);
      })
      .catch(error => {
        console.log(error.response.data.error);
      });

    //this.showNotifications()
  },

  validations: {
    brand: {
      required,
      minLength: minLength(4)
    },
    desc: {
      required,
      minLength: minLength(6)
    },
    price: {
      required,
      minLength: minLength(6)
    },
    qnt: {
      required,
      minLength: minLength(6)
    }
  },

  methods: {
    deleteNotification(obj) {
      var i = 0;
      while (obj.length > i) {
        requests
          .putNotification(localStorage.tokenAuth, obj[i]._id)
          .then(response => {
            console.log(response);
          })
          .catch(error => {
            console.log("erro", error.response.data.error);
          });
        i++;
      }
    },

    showNotifications(obj) {
      var i = 0;
      while (this.notifications.length > i) {
        console.log("entrou no while");
        this.toastNotifications(obj[i].content);
        i++;
      }
    },

    toastNotifications(text) {
      this.toastCount++;
      this.$bvToast.toast(text, {
        autoHideDelay: 3600000,
        title: "Notificação"
      });
    },

    makeToastSucesso(variant = null, text) {
      this.toastCount++;
      this.$bvToast.toast(text, {
        autoHideDelay: 3000,
        title: "Sucesso",
        variant: variant
      });
    },

    makeToastErro(text) {
      this.toastCount++;
      this.$bvToast.toast(text, {
        autoHideDelay: 3000,
        title: "Erro"
      });
    },

    teste() {
      console.log("teste: ", this.fileImage);
    },

    updateImage(id) {
      let formData = new FormData();
      formData.append("file", this.fileImage);
      requests
        .postImage(localStorage.tokenAuth, id, formData)
        .then(response => {
          console.log("entrou no response", response);
          location.reload();
        })
        .catch(error => {
          console.log(error.response.data.error);
        });
    },

    // submitFile(id){
    //     let formData = new FormData();
    //     formData.append('file',this.file)
    //     requests.postImage(localStorage.tokenAuth, id, formData)
    //     .then(response => {
    //         console.log('entrou no response', response )
    //     }).catch(error => {
    //         console.log(error.response.data.error);
    //         alert(error.response.data.error)
    //     })
    // },

    submitData() {
      console.log(localStorage.tokenAuth);

      this.teste();

      requests
        .postCadProduct(
          localStorage.tokenAuth,
          this.brand,
          this.desc,
          this.price,
          this.qnt
        )
        .then(response => {
          this.id = response.data.id;
          this.updateImage(this.id);
          this.makeToastSucesso("success", "Produto cadastrado!");
        })
        .catch(error => {
          this.makeToastErro(error.response.data.error);
        });
    }
  }
};
</script>

<style lang="css">
#btnSalvarCad {
  border: black;
  padding: 5px 10px 5px 10px;
  border-radius: 38px;
  background-color: darkslategray;
  color: white;
  width: 50%;
  height: 40px;
  justify-self: center;
}
.inputCadProduto {
  padding: 10px;
  border-radius: 10px;
  border: cadetblue;
  border-width: thin;
  border-style: solid;
  max-width: 50%;
  width: 50vw;
}
#titleCadProduto {
  font-size: 25px;
  text-align: center;
  background-color: darkcyan;
  border-radius: 10px;
  align-self: center;
  width: 50vw;
  margin-top: 10px;
}
.alinhamentoProdutos {
  display: grid;
  width: 100%;
  grid-template-rows: 0fr 0fr 0fr;
  justify-content: center;
  color: white;
  grid-row-gap: 20px;
}
.fundoProdutos {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgb(34, 82, 78), rgb(61, 181, 124));
  display: grid;
}
.cadProdutos {
  height: 100%;
  width: min-content;
}
.camposCadProduto {
  margin-left: 15px;
  padding: 10px;
}
.erro {
  color: #73c3c3;
  font-size: 14px;
  font-family: sans-serif;
}
</style>