<template>
  <div class="fundoChat">
    <div class="notification" v-if="notification && notifications.length > 0 ">{{notifications.length}}</div>
    <div class="iconChat" @click="changeStatusDisplay">
      <img src="./iconChat.png" id="imgChat" height="50px" width="50px" />
    </div>
    <div class="todoChat" :style="{'display': display}">
      <div id="topChat">

        <h1 class="a1" style="color:white">CHAT</h1>

        <div class="selectedPerson" >
          <div v-if="selectedOption"><img
              id="img"
              :src="loadImage(img)"
              style="height:50px; width:50px;"
            /></div>
          <div class="username" style="color:white" v-if="provider">
            {{selectedOption.name}}
          </div>
          <div class="username" style="color:white" v-else>
           {{selectedOption.name}}
          </div>

          <div>
            <select class="select" v-if="!provider" v-model="selectedOption" @change="optionSelect">
              <option v-for="(adm, id) in adms" :key="id">{{adm.name}}</option>
            </select>

            <select class="select" v-else v-model="selectedOption" @change="optionSelect">
              <option v-for="(user, id) in users" :key="id">{{user.name}}</option>
            </select>
          </div>
        </div>

        <div class="online" style="color:white">Status: 
          <p style="color:#00fd00" v-if="statusOnline">online</p> 
          <p style="color:red" v-else>offline</p> 
        </div>

      </div>

      <div id="mainChat">

        <div class="messages" v-for="(m,idx) in mensagens" v-bind:key="idx">
          <div class="sender" v-if="m.sent == idCurrentUser">
            <div>{{  m.message? m.message : m}}</div>
            <div class="seenImg">

             <img
                v-if="m.read"
                id="imgChecked"
                src="../imagens/checkedSeen.png"
                style="height:18px; width:18px;"
              />
              <img
                v-else
                id="imgCheck"
                src="../imagens/checkUnseen.png"
                style="height:18px; width:18px;"
              />
              <div> {{m.date.substring(16, 21)}}</div>
            </div> 

          </div>

          <div class="receiver" v-else>
            <div>{{m.message? m.message : m}}</div>
            <div> {{m.data? m.date.substring(16, 21): ''}}</div>
          </div>
        </div>
      </div>

      <div id="inputChat">
        <form id="formChat" v-on:submit="sendMessage">
          <input
            type="text"
            v-model="msg"
            v-bind:disabled="!selectedOption"
            style="width: 100%;max-width: 300px;"
          />
          <button v-bind:disabled="!msg" style="width: 100%; max-width: 135px;">ENVIAR</button>
        </form>
      </div>
      <div id="bottomChat"></div>
    </div>
  </div>
</template>

<script>
import io from "socket.io-client";
import requests from "../services/requests";
export default {
  data() {
    return {
      teste:'',
      rota:'',
      notification: true,
      notifications:[],
      usersOnline:{},
      statusOnline:false,
      provider: false,
      selectedOption: "",
      adms: [],
      users: [],
      todasMensagens: [],
      mensagens: [],
      username: "",
      idCurrentUser: 0,
      clicked: 5,
      socket: io("http://localhost:3333", {
        query: {
          user_id: localStorage.id,
          name: localStorage.name
        }
      }),
      msg: "Selecione um adm",
      display: "none",
      room: "",
      previusRoom: "",
      rooms: [],
      img: ""
    };
  },

  methods: {
    loadImage: function(imagem) {
      if (imagem && imagem.url) {
        return imagem.url;
      } else {
        return "https://via.placeholder.com/200";
      }
    },

    changeStatusDisplay() {
      if (this.display == "none") this.display = "grid";
      else this.display = "none";
    },

    sendMessage() {
      this.socket.emit("chat.message", {
        sent: localStorage.id,
        message: this.msg,
        to: this.selectedOption.id,
        read: false,
        room: this.room
      });

      this.msg = "";
    },

    listen() {
      this.socket.on("chat.message", newMessage => {
        console.log("newmessage", newMessage);
        this.mensagens.push(newMessage);
        console.log('mensagem recebida: ',this.mensagens)

        //this.passOldMessage(this.selectedOption);
      });

      this.socket.on("joining.room", data => {
        let roomExistente = this.rooms.find(x => x == data);
        if (!roomExistente) this.rooms.push(data);
        console.log("rooms existentes:", this.rooms);
      });

      this.socket.on("notification.message", msgNotification => {
        this.toastNotifications(msgNotification.mensagem, msgNotification.user.name);
        Push.create('menssagem de '+ msgNotification.user.name  + ': '+ msgNotification.mensagem);

        console.log("olha a notific: ", msgNotification);
      });

      this.socket.on('connected.users', data => {
        console.log('conected users data:', data)
        this.usersOnline = data
        console.log('conected users:', this.usersOnline)
      })

    },

    getProviders() {
      requests
        .getProviders(localStorage.tokenAuth)
        .then(response => {
          this.adms = response.data;
          console.log("ADMINISTRADORES: ", this.adms);
          //this.verifyStockProduct();
        })
        .catch(error => {
          console.log(error.response.data.error);
        });
    },

    getUsers() {
      requests
        .getUsers(localStorage.tokenAuth)
        .then(response => {
          this.users = response.data;
          console.log("USUARIOS: ", this.users);
        })
        .catch(error => {
          console.log(error.response.data.error);
        });
    },

    passOldMessage(person) {

      this.createRoom();

      let data = {
        userId: localStorage.id,
        adminId: person.id,
        room: this.room
      };

      console.log("PASSANDO OLDDATA:", data);
      this.socket.emit("old.message", data);

      this.getOldMessages(data);
    },

    optionSelect() {
      if (this.provider) {
        this.selectedOption = this.users.find(
          x => x.name == this.selectedOption
        );
        this.img = this.selectedOption.avatar;
      } else {
        this.selectedOption = this.adms.find(
          x => x.name == this.selectedOption
        );
        this.img = this.selectedOption.avatar;
      }
    },

    getOldMessages(newData) {
      this.socket.on("old.message", oldData => {
        
        this.mensagens = oldData.messages;
        console.log("mensagens", this.mensagens);
        console.log("get old data:", oldData);
  
      });
    },

    createRoom() {
      //this.room = localStorage.id + this.selectedOption.id
      if (this.provider) this.room = this.selectedOption.id + localStorage.id;
      else this.room = localStorage.id + this.selectedOption.id;

      console.log("room:", this.room);

      this.socket.emit("joining.room", this.room);
    },

    admOrUser() {
      if (localStorage.provider == "true") {
        this.getUsers();
        this.provider = true;
      } else this.getProviders();
    },

    leavingRoom(oldRoom) {
      this.socket.emit("leaving.room", oldRoom);
    },

    toastNotifications(msg, nome) {
      this.toastCount++;
      this.$bvToast.toast(msg, {
        autoHideDelay: 10000,
        title: "Notificação de " + nome
      });
      
    },
    
    getNotifications(){
      requests
        .getNotificationsChat(localStorage.tokenAuth)
        .then(response => {
          this.notifications = response.data
          console.log("NOTIFICAÇÕES: ", this.notifications);
          
        })
        .catch(error => {
          console.log(error.response.data.error);
        });

        //this.showNotification(this.notifications)

    },

    showNotification(array){
      for(let msg of array){
        this.toastNotifications(msg.message.message, msg.user_sent.name)
      }
    }

  },

  watch: {
    selectedOption() {
      console.log("ADM SELECIONADO: ", this.selectedOption);
      this.msg = ""
      this.passOldMessage(this.selectedOption);
      

      if(this.usersOnline[this.selectedOption.id])
        this.statusOnline = true
      else 
        this.statusOnline = false  

    },

    usersOnline(){

      if(this.usersOnline[this.selectedOption.id])
        this.statusOnline = true
      else 
        this.statusOnline = false  
    },

    notifications(){
      this.showNotification(this.notifications)
    },

    room(newValue, oldValue) {
      if (oldValue) this.leavingRoom(oldValue);

      this.previusRoom = oldValue;

      console.log("new:", newValue, "old:", oldValue);
    },

    display() {
      if (this.display == "none") 
        this.leavingRoom(this.room);

      if (this.display == "grid" && this.selectedOption)
        this.passOldMessage(this.selectedOption);

      this.notification = false  

    },

  },

  mounted() {
    console.log(
      "----------------------------------------------socket--------------------------------"
    );
    this.idCurrentUser = localStorage.id;
    this.getNotifications();
    this.admOrUser();
    this.listen();

    console.log('rota', this.rota )

  },

  updated() {
    var objDiv = document.getElementById("mainChat");
    objDiv.scrollTop = objDiv.scrollHeight;

    if(this.rota != 'todo')
      this.socket.emit('disconnect')

  },

  beforeDestroy() {
    console.log('before destruido')
    this.socket.emit('disconnect')
  },

  destroyed() {
    console.log('destruido')
    this.socket.emit('disconnect')
  },
};
</script>

<style>
.seenImg{
  justify-self: end;
}
.online{
  grid-area: c1;
  justify-self: center;
  align-self: center;
}
.a1{
  grid-area: a1;
  grid-area: a1;
  justify-self: center;
  align-self: center;
}
.selectedPerson{
    grid-area: b1;
    grid-area: b1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #286758;
    /* border-radius: 89px; */
    border-top-left-radius: 2px;
    border-top-right-radius: 28px;
    /* border-bottom-left-radius: 30px;*/
}

.notification {
  margin-left: 55px;
  background-color: #b73636;
  border-radius: 12px;
  height: 25px;
  width: 25px;
  position: absolute;
  color: white;
  text-align: center;
  z-index: 200;
}

.sender {
  width: 175px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: end;
  background-color: #4d8686;
  color: white;
  padding: 3px;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  margin-top: 2px;
  margin-right: 2px;
  
}
.receiver {
    width: 175px;
    margin-left: 2px;;
    background-color: #2f4f4f;
    color: white;
    padding: 3px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    margin-top: 2px;
}
.carregarMsg {
  background-color: #e0cdcd;
  text-align: center;
  margin-top: 10px;
}
.select {
    color: #1c4040;
    border-radius: 10px;
    background-color: #ffffff;
    height: 45px;
    border-style: none;
}

.fundoChat {
  display: grid;
  justify-items: center;
}

.todoChat {
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: 160px 300px 50px 50px;
  justify-items: center;
  justify-content: center;
  max-width: 400px;
  width: 400px;
  display: none;
  position: absolute;
  float: left;
  z-index: 1;
  margin-top: -515px;
  margin-left: 10px;
}

#imgChat {
  justify-self: center;
  align-self: center;
}
.iconChat {
  background-color: #328d69;
  border-style: solid;
  height: 80px;
  width: 80px;
  border-radius: 56px;
  display: grid;
  margin-top: 10px;
  z-index: 2;
}

.messages {
  display: grid;
  margin-bottom: 3px;
}
.message2 {
  width: 175px;
  border-bottom-style: groove;
}
.message {
  width: 175px;
  border-bottom-style: groove;
  justify-self: end;
}
.alinhamentoMensagem {
  align-self: end;
}
.mensagem {
  background-color: #dac6c6;
}

#inputChat {
  width: 100%;
}
#topChat {
  background-color: #3cb17a;
  height: 100%;
  width: 100%;
  display: grid;
  grid-auto-columns: 1fr 2fr;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-areas:
              "a1 b1"
              "c1 b1";
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
#mainChat {
  background-color: #d5f1e4;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  /* border-bottom: solid; */
  border-style: solid;
  border-color: #286758;
  border-right-style: hidden;
}

#formChat {
  background-color: #846d6d;
  height: 50px;
  width: 100%;
  align-self: end;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}
#bottomChat {
  background-color: #3cb17a;
  height: 100%;
  width: 100%;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
::-webkit-scrollbar              { width: 13px; }
::-webkit-scrollbar-button       { background-color:  #286758;}
::-webkit-scrollbar-track        { background-color: green;  }
::-webkit-scrollbar-track-piece  { background-color: #286758;}
::-webkit-scrollbar-thumb        { background-color: #3bb07a; border-radius: 10px;}
::-webkit-scrollbar-corner       { background-color: blue; }
::-webkit-resizer                { background-color: violet; }
</style>