<template>
  <div class="deletarProduto">
    <div class="camposDeletar">
      <div id="titleDeleteProduto">Deletar Produto</div>
      <p style="margin-top: 20px;">Digite o Id do produto:</p>
      <div class="idDeletar">
        <form>
          <select class="inputUpdate" v-model="idProduct">
            <option v-for="(data,index) in idAndModelList" :key="index">{{data.id}}</option>
          </select>
          <br />
          <br />
          <div style="text-align: center;">
            <button id="btnDeletarProduto" type="reset" @click="deleteData">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import CadProdutosVue from "./CadProdutos.vue";
import requests from "../services/requests";
export default {
  data() {
    return {
      idProduct: null,
      file: null,
      idAndModelList: []
    };
  },

  mounted() {
    this.getAll();
  },

  methods: {
    getAll() {
      requests
        .getAllProducts(localStorage.tokenAuth)
        .then(response => {
          console.log(response);
          this.idAndModelList = response.data;
          console.log("id and model", this.idAndModelList);
        })
        .catch(error => {
          console.log(error.response.data.error);
          this.makeToastErro(error.response.data.error);
        });
    },

    makeToastSucesso(variant = null, text) {
      this.toastCount++;
      this.$bvToast.toast(text, {
        autoHideDelay: 3000,
        title: "Sucesso",
        variant: variant
      });
    },
    makeToastErro(text) {
      this.toastCount++;
      this.$bvToast.toast(text, {
        autoHideDelay: 3000,
        title: "Erro"
      });
    },

    deleteData() {
      if (this.idProduct == null) {
        this.makeToastErro("Campo vazio");
      } else {
        requests
          .deleteProduct(localStorage.tokenAuth, this.idProduct)
          .then(response => {
            console.log("entrou no response", response);
            this.makeToastSucesso("success", "Produto deletado");
            location.reload();
          })
          .catch(error => {
            console.log(error.response.data.error);
            this.makeToastErro(error.response.data.error);
          });
      }

      //this.limparCampo();

      /*axios.delete('http://10.1.4.53:3333/products/'+this.idProduct,{headers:{'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiaWF0IjoxNTc4NDE4ODQ0LCJleHAiOjE2MDk5NTQ4NDR9.5oNk0Xjg6iRI4IcbBXP6ijxzlztG_RrQskVieK8oA8k' }})
        .then(response => {
    ('Deletado com sucesso')
        }).catch(function(e) {
        console.log(e); // "Ah, não!"
        })
        }*/
    },

    limparCampo() {
      this.idProduct = "";
    }
  }
};
</script>

<style lang="css">
#inputDelete {
  padding: 10px;
  border-radius: 10px;
  border: cadetblue;
  border-width: thin;
  border-style: solid;
  max-width: 50%;
  width: 50vw;
}
.deletarProduto {
  background-image: linear-gradient(rgb(35, 85, 79), rgb(34, 84, 79));
  padding: 10px;
  border-radius: 10px;
}
#titleDeleteProduto {
  font-size: 25px;
  text-align: center;
  border-radius: 10px;
  align-self: center;
  width: 50vw;
  margin-top: 10px;
}
#btnDeletarProduto {
  border: black;
  padding: 5px 10px 5px 10px;
  border-radius: 38px;
  background-color: #2f8264;
  color: white;
  width: 31vw;
  height: 40px;
}
</style>