<template>
  <div class="login">
    <div class="fundoLogin">
      <div id="alinhamento">
        <h1 id="loginTitulo">LOGIN</h1>
        <div class="boxCampos">
          <form @submit="validateData">
            <div class="emailCampos">
              <p class="loginText">E-mail:</p>
              <input
                id="inputLoginEmail"
                type="email"
                v-model="$v.email.$model"
                placeholder="email@email.com"
              
              />
              <p class="erro" v-if="$v.email.$error">Preencha corretamente os campos.</p>
            </div>

            <div class="passCampos">
              <p class="loginText">Senha:</p>
              <input
                id="inputLoginPass"
                type="password"
                v-model="$v.password.$model"
                placeholder="senha"
              />
              <p class="erro" v-if="$v.password.$error">Preencha corretamente os campos.</p>
              <!---<p class="erro" v-else-if="!$v.password.minLength">Mínimo de 6 dígitos</p>--->
            </div>
            <br />
            <button id="btnValidarLogin" type="button" @click="validateData">VALIDAR</button>
          </form>
          <br />
          <router-link id="linkCad" to="cadastro-cliente">Cadastre-se</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import email from 'vuelidate/lib/validators/email'
import requests from "../services/requests";
import main from "../main";
import { required, minLength, between } from "vuelidate/lib/validators";
export default {
  data() {
    return {
      email: "",
      password: "",
      token: ""
    };
  },

  validations: {
    email: {
      required,
      minLength: minLength(4),
      email

      
    },
    password: {
      required,
      minLength: minLength(6)
    }
  },

  mounted() {
    if (
      !(
        localStorage.email == "" ||
        localStorage.email == null ||
        localStorage.email == undefined
      )
    ) {
      this.$router.push("todo");
    }

    
  },

  methods: {

    makeToast(variant = null) {
      this.toastCount++;
      this.$bvToast.toast(localStorage.name, {
        autoHideDelay: 3000,
        title: "Usuário Logado",
        variant: variant
      });
    },

    makeToastError(text) {
      this.toastCount++;
      this.$bvToast.toast(text, {
        autoHideDelay: 3000,
        title: "Erro"
      });
    },

    validateData() {
      if (this.email == "" || this.password == "") {
        this.makeToastError("Atenção aos campos");
      } else {
        console.log("else");
        console.log(this.email + " " + this.password);

        try{
        requests
          .putLogin(this.email, this.password)
          .then(response => {
            console.log(response);
            localStorage.id = response.data.user.id;
            localStorage.name = response.data.user.name;
            localStorage.email = response.data.user.email;
            localStorage.tokenAuth = response.data.auth_token;
            localStorage.provider = response.data.user.provider;
            //localStorage.imgAvatar = response.data

            this.$root.provider = response.data.user.provider;

            console.log(localStorage);

            console.log(this.email + "/ provider / " + localStorage.provider);
            console.log(this.email + ": " + localStorage.tokenAuth);
            this.$router.push("todo");
          })
          .catch(error => {
            console.log(error.response.data.error);
            this.makeToastError(error.response.data.error);
          });}
          catch(e){
            console.log(e,"erro")
          }
      }
    }
  }
};
</script>

<style>
.emailCampos {
  margin-top: 15px;
}
.passCampos {
  margin-top: 15px;
}
#linkCad {
  font-family: Arial;
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
}
#linkCad:hover {
  font-family: Arial;
  color: grey;
  font-size: 20px;
}
#inputLoginEmail {
  padding: 10px;
  border-radius: 10px;
  border: cadetblue;
  border-width: thin;
  border-style: solid;
  max-width: 80%;
  width: 300px;
}

#inputLoginPass {
  padding: 10px;
  border-radius: 10px;
  border: cadetblue;
  border-width: thin;
  border-style: solid;
  width: 80%;
}

.erro {
  color: darkslategray;
  font-size: 14px;
  font-family: sans-serif;
}
.fundoLogin {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgb(91, 216, 205), rgb(54, 137, 98));
  text-align: center;
}
.boxCampos {
  background-image: linear-gradient(rgb(83, 171, 133), rgb(63, 181, 126));
  max-width: 100%;
  padding-top: 1px;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
}
.loginText {
  font-size: 20px;
  font-family: arial;
  color: white;
}
#loginTitulo {
  color: white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
#btnValidarLogin {
  border: black;
  padding: 5px 10px 5px 10px;
  border-radius: 38px;
  background-color: darkslategray;
  color: white;
  width: 80%;
  height: 40px;
}
#alinhamento {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  height: 100%;
}
/*teste*/
#btnValidarLogin:hover {
  text-decoration: none;
  background-color: #4c7575;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: black;
}

a:active {
  text-decoration: none;
}
</style>