<template>
  <div class="fundoPerfil">
    <div class="perfilCliente">
      <div class="editarCliente">
        <div class="titlePerfil">Edite seus dados</div>

        <div class="logoUser" v-on:change="updateImage()">
          <img id="img" :src="loadImage(img)" :style="{'height': sizeImage, 'width': sizeImage}" />
          <div
            style="
                        width: 171px;
                        justify-self:center;
                    "
          >
            <b-form-file
              v-model="file"
              placeholder="editar foto"
              drop-placeholder="Drop file here..."
              v-on:change="updateImage()"
            ></b-form-file>
          </div>
        </div>

        <form style="height: 100%;">
          <div class="nome">
            <label for="name">Nome:</label>
            <br />
            <input class="inputPerfil" placeholder="nome" name="name" v-model="$v.nome.$model" />
            <p class="erro" v-if="!$v.nome.required">Este campo deve ser preenchido.</p>
            <p class="erro" v-else-if="!$v.nome.minLength">Mínimo de 6 dígitos</p>
          </div>
          <br />
          <div class="email">
            <label for="email">E-mail:</label>
            <br />
            <input
              class="inputPerfil"
              placeholder="email@email.com"
              name="email"
              v-model="$v.email.$model"
            />
            <p class="erro" v-if="!$v.email.required">Este campo deve ser preenchido.</p>
          </div>
          <br />
          <div class="senha">
            <p>Deseja editar a senha?</p>
            <input type="checkbox" value="true" v-model="checked" />
            <div v-if="checked">
              <br />
              <label>Senha antiga:</label>
              <br />
              <input
                class="inputPerfil"
                type="password"
                placeholder="senha antiga"
                v-model="$v.oldPass.$model"
              />
              <p class="erro" v-if="!$v.oldPass.required">Este campo deve ser preenchido.</p>
              <p class="erro" v-else-if="!$v.oldPass.minLength">Mínimo de 6 dígitos</p>
              <br />
              <label>Senha nova:</label>
              <br />
              <input
                class="inputPerfil"
                type="password"
                placeholder="senha nova"
                v-model="$v.newPass.$model"
              />
              <p class="erro" v-if="!$v.newPass.required">Este campo deve ser preenchido.</p>
              <p class="erro" v-else-if="!$v.newPass.minLength">Mínimo de 6 dígitos</p>
              <br />
              <label>Confirme a senha:</label>
              <br />
              <input
                class="inputPerfil"
                type="password"
                placeholder="senha nova"
                v-model="$v.conPass.$model"
              />
              <p class="erro" v-if="!$v.conPass.required">Este campo deve ser preenchido.</p>
              <p class="erro" v-else-if="!$v.conPass.minLength">Mínimo de 6 dígitos</p>
            </div>
          </div>
        </form>

        <button id="btnEditar" @click="updateClient">Editar</button>
      </div>

      <div class="deletarCliente">
        <div class="titlePerfilDeletar">Deletar sua conta</div>

        <p id="certeza">Tem certeza que deseja deletar sua conta?</p>
        <div class="idDeletar">
          <button id="btnDeletar" @click="deleteUser">Deletar</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import requests from "../services/requests";
import { required, minLength, between } from "vuelidate/lib/validators";
export default {
  data() {
    return {
      checked: false,
      id: "",
      nome: "",
      email: "",
      oldPass: "",
      newPass: "",
      conPass: "",
      sizeImage: "100px",
      img: "",
      file: null
    };
  },

  mounted() {
    this.id = localStorage.id;

    if (localStorage.email == "" || localStorage.email == null) {
      this.$router.push("/");
    }

    requests
      .getCliente(localStorage.tokenAuth)
      .then(response => {
        console.log(response);
        this.nome = response.data.name;
        this.email = response.data.email;
        this.img = response.data.avatar;
      })
      .catch(response => {
        console.log("erro: ", response);
      });
  },

  validations: {
    nome: {
      required,
      minLength: minLength(4)
    },
    email: {
      required,
      minLength: minLength(4)
    },
    oldPass: {
      required,
      minLength: minLength(6)
    },
    newPass: {
      required,
      minLength: minLength(6)
    },
    conPass: {
      required,
      minLength: minLength(6)
    }
  },

  methods: {
    makeToastSucesso(variant = null, text) {
      this.toastCount++;
      this.$bvToast.toast(text, {
        autoHideDelay: 3000,
        title: "Sucesso",
        variant: variant
      });
    },

    makeToastErro(text) {
      this.toastCount++;
      this.$bvToast.toast(text, {
        autoHideDelay: 3000,
        title: "Erro"
      });
    },

    loadImage: function(imagem) {
      if (imagem && imagem.url) {
        return imagem.url;
      } else {
        return "https://via.placeholder.com/200";
      }
    },

    updateImage() {
      let formData = new FormData();
      formData.append("file", this.file);
      requests
        .postImageCliente(localStorage.tokenAuth, formData)
        .then(response => {
          console.log("entrou no response", response);
          location.reload();
        })
        .catch(error => {
          console.log(error.response.data.error);
        });
    },

    updateClient() {
      //this.updateImage()
      if (!this.checked) {
        if (!(this.nome.length < 6)) {
          requests
            .putCliente(localStorage.tokenAuth, this.nome, this.email)
            .then(response => {
              this.makeToastSucesso("success", "Editado com sucesso!");
            })
            .catch(error => {
              this.makeToastErro(error.response.data.error);
            });
        }
      } else {
        console.log("else");

        requests
          .putClientePass(
            localStorage.tokenAuth,
            this.nome,
            this.email,
            this.oldPass,
            this.newPass,
            this.conPass
          )
          .then(response => {
            this.makeToastSucesso("success", "Editado com sucesso!");
          })
          .catch(error => {
            this.makeToastErro(error.response.data.error);
          });
      }
    },

    deleteUser() {
      requests
        .deleteCliente(localStorage.tokenAuth)
        .then(response => {
          localStorage.clear();
          this.makeToastSucesso("success", "Usuário deletado");
          this.$router.push("/");
        })
        .catch(error => {
          console.log(error.response.data.error);
          this.makeToastErro(error.response.data.error);
        });
    }
  }
};
</script>

<style>
.editarImg {
  justify-self: center;
  align-self: center;
  border-radius: 5px;
  height: 50%;
  border: black;
  padding: 5px 10px 5px 10px;
  color: white;
  background-color: #008b8b;
}
.editarImg:hover {
  background-color: white;
  color: black;
}
#btnEditar {
  border: black;
  padding: 5px 10px 5px 10px;
  border-radius: 38px;
  background-color: darkslategray;
  color: white;
  width: 50%;
  height: 40px;
  justify-self: center;
}
#btnEditar:hover {
  background-color: #4c7575;
}
#btnDeletar {
  border: black;
  padding: 5px 10px 5px 10px;
  border-radius: 38px;
  background-color: #2f8264;
  color: white;
  width: 31vw;
  height: 40px;
}

.inputPerfil {
  padding: 10px;
  border-radius: 10px;
  border: cadetblue;
  border-width: thin;
  border-style: solid;
  max-width: 80%;
  width: 50vw;
}
.titlePerfil {
  font-size: 25px;
  text-align: center;
  background-color: darkcyan;
  border-radius: 10px;
  align-self: center;
  width: 50vw;
}
.titlePerfilDeletar {
  font-size: 25px;
  text-align: center;
  border-radius: 10px;
}
#img {
  height: 100px;
  width: 100px;
  justify-self: center;
  align-self: center;
}
.logoUser {
  background-color: #008b8b;
  border-radius: 10px;
  width: max-content;
  height: max-content;
  justify-self: center;
  align-self: center;
  height: 100%;
  width: 300px;
  max-width: 50vw;
  display: grid;
  padding: 10px;
}

.fundoPerfil {
  height: 135vh;
  width: 100vw;
  background-image: linear-gradient(rgb(34, 82, 78), rgb(61, 181, 124));
  display: grid;
}

.erro {
  color: #7be9ef;
}

.perfilCliente {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 30px;
}
.editarCliente {
  color: white;
  font-family: arial;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: grid;
  justify-content: center;
  grid-gap: 5px;
}
.deletarCliente {
  background-image: linear-gradient(rgb(35, 85, 79), rgb(34, 84, 79));
  color: white;
  font-family: arial;
  width: 50vw;
  border-radius: 10px;
  display: grid;
  justify-items: center;
  padding: 5px;
  height: max-content;
}

/*@media (min-width: 600px) {
    .deletarCliente{
        background-image: linear-gradient(rgb(20, 206, 119), rgb(20, 206, 119));
    }
}*/
</style>