<template>
  <div id="todoFundoColor">
    <div id="alinhamentoTodo">
      <!---<b-alert
                :show="dismissCountDown"
                dismissible
                variant="success"
                @dismissed="dismissCountDown=0"
                @dismiss-count-down="countDownChanged"
                >
                    <p>{{nameUser}} logado!!</p>

      </b-alert>--->

      <TopBar></TopBar>

      <div class="todoFundo">
        <div class v-if="productList && productList.length > 0">
          <carousel
            items:3
            :autoplay="true"
            :nav="false"
            :responsive="{0:{items:1,nav:false},600:{items:3,nav:false}}"
          >
            <div class="img1" :id="obj.modelo" v-for="(obj, idx) in productList" :key="idx">
              <img :src="loadImage(obj.imagem)" :style="{'height': sizeImage, 'width': sizeImage}" />
              <div v-if="obj.quantidade != 0">{{obj.modelo}}</div>
              <p v-else>Não há em estoque</p>
              ${{obj.preco}}
              <br />
              <br />
              <button v-if="obj.quantidade != 0" id="btnBuy" @click="passObject(obj.id)">
                <a>Comprar</a>
              </button>

              <!---<div @click="changeStatusDetails(obj.id)"><img :src="btnLook.lookItem" :style="{'height': btnLook.size, 'width': btnLook.size}"></div>---->

              <!---<div id="details" v-if="statusDescProduto">

                                <p>{{obj.descricao}}</p>
                               
              </div>-->
            </div>
          </carousel>
        </div>
      </div>

       <div class="chat">
        <Chat></Chat>
      </div>

      <div class="TodobuySection" v-if="buySectionStatus">
        <BuySection v-bind:objShoes="ObjectProductList"></BuySection>
         
      </div>

      <div class="footer" v-if="!buySectionStatus"> </div>

     
    </div>
    
  </div>
</template>

<script>
import BuySection from "./BuySection";
import axios from "axios";
import TopBar from "./TopBar";
import requests from "../services/requests";
import carousel from "vue-owl-carousel";
import Chat from "./Chat";

export default {
  components: { BuySection, TopBar, carousel, Chat },

  data() {
    return {
      btnLook: {
        lookItem: require("../imagens/lookItem.png"),
        size: "50px"
      },

      slide: 0,
      sliding: null,
      dismissSecs: 5,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      nameUser: "",
      toastCount: 0,
      statusDescProduto: false,
      sizeImage: "200px",
      //passando obj para buysection
      ObjectProductList: [],
      // recebendo obj do get
      productList: [],
      buySectionStatus: false,
      qntProduct: 0
    };
  },

  updated() {},

  mounted() {
    //this.nameUser = localStorage.name,

    //this.showAlert();

    this.makeToast("success");

    this.buySectionStatus = false;

    if (localStorage.email == "" || localStorage.email == null) {
      console.log("if todo");
      this.$router.push("/");
    } else {
      console.log("else todo");
    }
    console.log("carregando: " + localStorage.tokenAuth);

    requests
      .getProducts(localStorage.tokenAuth)
      .then(response => {
        this.productList = response.data;
        console.log(this.productList);
        //this.verifyStockProduct();
      })
      .catch(error => {
        console.log(error.response.data.error);
      });
  },

  methods: {
    onSlideStart(slide) {
      this.sliding = true;
    },
    onSlideEnd(slide) {
      this.sliding = false;
    },

    makeToast(variant = null) {
      this.toastCount++;
      this.$bvToast.toast(localStorage.name, {
        autoHideDelay: 10000,
        title: "Usuário Logado",
        variant: variant
      });
    },

    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },

    loadImage: function(imagem) {
      if (imagem && imagem.url) {
        return imagem.url;
      } else {
        return "https://via.placeholder.com/200";
      }
    },
    changeStatusDetails(idReceived) {
      var i = 0;
      while (i != this.productList.length) {
        if (this.productList[i].id == idReceived)
          this.statusDescProduto = !this.statusDescProduto;
        //this.shoesProperties[i].detailStatus = !this.shoesProperties[i].detailStatus

        i++;
      }
    },

    /*passId(idObj){
            //this.imgToPass = this.shoesProperties[idObj].price;
            var i = 0;
            while (i!=3) {
                
                if(this.shoesProperties[i].id == idObj)
                this.imgToPass = this.shoesProperties[i].srcImg
                
                i++;
            }
        },*/

    passObject(idObj) {
      var i = 0;
      while (i != this.productList.length) {
        if (this.productList[i].id == idObj) {
          this.ObjectProductList = this.productList[i];
          console.log(this.ObjectProductList);
        }

        i++;
      }

      this.buySectionStatus = true;
    }
  }
};
</script>

<style lang="css">
.chat{
  position: fixed;
  bottom: 5px;
  z-index: 100;
  
}

/* @media screen and (max-width: 832px) {
  .chat{
    position: fixed;
    right: 50px;
    bottom: 162px;
    z-index: 100;
  }
} */
.footer {
  background-image: linear-gradient(rgb(35, 85, 79), rgb(34, 84, 79));
  height: 140px;
  width: 100%;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  display: grid;
  justify-content: end;
}

#todoFundoColor {
  width: 100%;
  min-height: 100%;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: linear-gradient(rgb(34, 82, 78), rgb(61, 181, 124));
  padding: 10px;
}

#alinhamentoTodo {
  width: 800px;
  max-width: 100%;
}

.todoFundo {
  height: 410px;
  padding: 10px;
  margin-top: 20px;
}

.listaImagens {
  height: 95%;
  margin-top: 11px;
  overflow-x: auto;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #63a9a9;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
}

p {
  font-family: Arial;
}
a {
  font-family: Arial;
  color: royalblue;
  font-size: 20px;
  border-top-color: black;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: blue;
}

a:hover {
  text-decoration: grey;
}

a:active {
  text-decoration: none;
}
.img1 {
  background-color: #41f1b8;
  border-radius: 20px;
  width: 200px;
  text-align: center;
  z-index: 2;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  color: white;
  background-color: #4d8686;
  border-width: thin;
}
.img2 {
  position: absolute;
  margin-top: 100px;
  border: black;
  background-color: white;
  border-radius: 50%;
  margin-left: 15px;
}
.bar {
  height: 300px;
  width: 5px;
  float: left;
  background-color: rgb(0, 253, 114);
  margin-left: 210px;
  margin-top: 106px;
}

#btnBuy {
  border: none;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  background-color: rgb(83, 171, 133);
  margin-bottom: 10px;
}

#btnBuy:hover {
  background-color: rgb(95, 193, 151);
}
#btnLook {
  background-color: greenyellow;
  border: greenyellow;
  padding: 5px 10px 5px 10px;
  border-radius: 10%;
}
#details {
  height: 120px;
  width: 120px;
  margin-left: 20%;
  z-index: 10;
}
</style>