<template>
  <div id="top-bar">
    <div class="topFundo">
      <div id="titleTop">{{title}}</div>
      <div id="userlog">
        <p style="align-self: center; margin-right:15px;">Olá {{user}}!</p>
        <div
          style="
            margin-right: 10px;
            background-color: darkslategrey;
            border-radius: 5px;
            padding: 3px;"
        >
          <img id="img" :src="loadImage(img)" style="height:50px; width:50px;" />
        </div>

       
      </div>
      <div id="ulTop">
        <router-link to="cadastro-produto" v-if="isProvider">
          <div class="listTop">Cadastrar</div>
        </router-link>
        <router-link to="perfil-cliente">
          <div class="listTop">Editar Perfil</div>
        </router-link>
        <div class="listTop" @click="exitButton()">
          <a>Sair</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import requests from "../services/requests";
export default {
  name: "TopBar",
  data() {
    return {
      title: "PRODUCT STORE",
      isProvider: false,
      user: "",
      toastCount: 0,
      img: ""
    };
  },
  mounted() {
    if (localStorage.provider == "false") this.isProvider = false;
    else this.isProvider = true;

    requests
      .getCliente(localStorage.tokenAuth)
      .then(response => {
        console.log('topbar response:',response);
        this.img = response.data.avatar;
        this.user = response.data.name
      })
      .catch(response => {
        console.log("erro: ", response);
      });

    console.log(localStorage.provider);
    console.log(this.isProvider);
  },

  methods: {
    loadImage: function(imagem) {
      if (imagem && imagem.url) {
        return imagem.url;
      } else {
        return "https://via.placeholder.com/200";
      }
    },

    exitButton() {
      localStorage.clear();
      console.log(localStorage);
      this.$router.push("/");
      window.location.reload()
    }
  }
};
</script>

<style lang="css">
ul {
  list-style-type: none;
}
.topFundo {
  height: 100%;
  max-width: 800px;
  padding: 10px 10px 10px 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px;
  background-image: linear-gradient(rgb(83, 171, 133), rgb(46, 113, 95));
  display: grid;
}
#userlog {
  color: white;
  font-family: arial;
  padding: 5px;
  justify-content: flex-end;
  display: flex;
  border-radius: 10px;
}
.listTop {
  background-color: darkslategray;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  align-self: center;
  color: white;
}
#ulTop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

#titleTop {
  font-family: monospace;
  color: white;
  font-size: 30px;
}

.listTop:hover {
  text-decoration: none;
  background-color: #4c7575;
}

a {
  font-family: Arial;
  color: white;
  font-size: 20px;
  border-top-color: white;
}
a:hover {
  text-decoration: grey;
}

@media (max-width: 500px) {
  .topFundo {
    grid-template-rows: 69px;
    grid-template-rows: 1fr 1fr 2fr;
  }

  #ulTop {
    display: block;
  }

  .listTop {
    margin-top: 10px;
  }
}
</style>
