<template>
  <div class="updateProduto">
    <div class="camposUpdate">
      <div id="titleUpProduto">Editar Produto</div>
      <!---<p>Digite o Id do produto:</p>   
            <div class="idUpdate">
            <input class="inputUpdate" type="text" v-model="idUpProduct" >
            <button @click="getData(idUpProduct)">Buscar</button>
      </div>-->
      <label style="margin-top: 30px;">Selecione o id</label>
      <br />
      <select class="inputUpdate" v-model="idUpProduct" @change="getData(idUpProduct)">
        <option v-for="(data,index) in idAndModelList" :key="index">{{data.id}}</option>
      </select>
      <hr />
      <form>
        <label>Nome:</label>
        <br />
        <input class="inputUpdate" name="nome" type="text" v-model="productArray.modelo" />
        <hr />
        <label>Descrição:</label>
        <br />
        <textarea
          class="inputUpdate"
          v-model="productArray.descricao"
          placeholder="add some text here"
        ></textarea>
        <hr />
        <label>Preço:</label>
        <br />
        <input class="inputUpdate" type="number" v-model="productArray.preco" min="100" max="1000" />
        <hr />
        <p>Quantidade:</p>
        <input class="inputUpdate" type="number" v-model="productArray.quantidade" min="0" max="50" />
        <hr />
        <p>Adicione a imagem:</p>
        <div
          style="
                        max-width: 200px;
                        justify-self:center;
                        "
        >
          <b-form-file
            v-model="fileImage"
            placeholder="adicionar foto"
            drop-placeholder="Drop file here..."
          ></b-form-file>
        </div>
        <hr />
        <div style="text-align: center;">
          <button id="btnSalvarUp" type="reset" @click="UpdateProduct()">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import requests from "../services/requests";
export default {
  data() {
    return {
      idUpProduct: "",
      selectedId: "",
      fileImage: null,
      productArray: [{}],
      idAndModelList: []
    };
  },

  watch: {
    idChanged(idUpProduct) {
      thi.getData(idUpProduct);
    }
  },

  mounted() {
    this.getAll();
  },

  methods: {
    makeToastSucesso(variant = null, text) {
      this.toastCount++;
      this.$bvToast.toast(text, {
        autoHideDelay: 3000,
        title: "Sucesso",
        variant: variant
      });
    },

    makeToastErro(text) {
      this.toastCount++;
      this.$bvToast.toast(text, {
        autoHideDelay: 3000,
        title: "Erro"
      });
    },

    submitFile(id) {
      let formData = new FormData();
      formData.append("file", this.fileImage);
      requests
        .postImage(localStorage.tokenAuth, id, formData)
        .then(response => {
          console.log("entrou no response", response);
        })
        .catch(error => {
          console.log(error.response.data.error);
          if (!(this.fileImage == null))
            this.makeToastErro(error.response.data.error);
        });
    },

    UpdateProduct() {
      console.log("teste : ", this.productArray);
      this.submitFile(this.idUpProduct);

      requests
        .putUpdateProduct(
          localStorage.tokenAuth,
          this.idUpProduct,
          this.productArray.modelo,
          this.productArray.descricao,
          this.productArray.preco,
          this.productArray.quantidade,
          this.productArray.imagem_id
        )
        .then(response => {
          this.makeToastSucesso("success", "Produto editado");
          //location.reload();
        })
        .catch(error => {
          console.log("errroororororo");
          console.log(error.response.data.error);
          console.log(this.fileImage);
        });
    },

    getAll() {
      requests
        .getAllProducts(localStorage.tokenAuth)
        .then(response => {
          console.log(response);
          this.idAndModelList = response.data;
          console.log("id and model", this.idAndModelList);
        })
        .catch(error => {
          console.log(error.response.data.error);
          this.makeToastErro(error.response.data.error);
        });
    },

    getData(id) {
      console.log("foi");

      requests
        .getUpdateProduct(localStorage.tokenAuth, id)
        .then(response => {
          console.log(response);
          this.productArray = response.data;
          console.log(this.productArray);
        })
        .catch(error => {
          console.log(error.response.data.error);
          this.makeToastErro(error.response.data.error);
        });
    }
  }
};
</script>

<style>
#btnSalvarUp {
  border: black;
  padding: 5px 10px 5px 10px;
  border-radius: 38px;
  background-color: darkslategray;
  color: white;
  width: 50%;
  height: 40px;
  justify-self: center;
}
.inputUpdate {
  padding: 10px;
  border-radius: 10px;
  border: cadetblue;
  border-width: thin;
  border-style: solid;
  max-width: 50%;
  width: 50vw;
}
#titleUpProduto {
  font-size: 25px;
  text-align: center;
  background-color: darkcyan;
  border-radius: 10px;
  align-self: center;
  width: 50vw;
  margin-top: 10px;
}
.updateProduto {
  background-color: darkcyan;
  border-radius: 10px;
  height: 100%;
}
.camposUpdate {
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
}
</style>