<template>
  <div id="app">
    <div class="btnVoltar" v-if="statusBackButton" @click="goBack"><img src=".\imagens\btnVoltar.png" height="50px" width="50px"></div>
    <router-view></router-view> 
    
    
  </div>
</template>

<script>
import Login from "./components/Login";
import TopBar from "./components/TopBar";
import Todo from "./components/Todo";
import CadCliente from "./components/CadCliente";
import BuySection from "./components/BuySection";
import CadProdutos from "./components/CadProdutos";
import DeletarProduto from "./components/DeletarProduto";
import UpdateProduto from "./components/UpdateProduto";
import PerfilCliente from "./components/PerfilCliente";
import Chat from "./components/Chat";
import axios from "axios";

export default {
  components: {
    Login,
    TopBar,
    Todo,
    BuySection,
    CadCliente,
    CadProdutos,
    DeletarProduto,
    UpdateProduto,
    Chat
  },
  name: "app",

  data() {
    return {
      title: "Product Store",
      statusBackButton:true,
      rota:''
    };

    
  },

  methods: {
    goBack(){
      window.history.back();
    },

    checkPath(){
      this.rota = this.$router.app._route.name
      if(this.rota == 'todo' || this.rota == 'login')
        this.statusBackButton = false
      else
        this.statusBackButton = true    
    },
    
  },

  mounted() {
    console.log('rota: ',this.$router.app._route.name)
    this.checkPath()
  },

  updated() {
    this.checkPath()
  },

};
</script>

<style lang="css">
.nav-bar {
  background-color: blueviolet;
  height: 200px;
  width: 100%;
}
.btnVoltar{
  position: fixed;
  z-index: 200;
  top: 20px;
  left: 20px;
  color: aqua;
}
</style>
